NET "w1<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "w1<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "w2<0>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "w2<1>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;

NET "chk" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;