NET "set<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "set<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "set<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "set<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;

NET "pushbutton" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "reset" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "q<0>" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "q<1>" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "q<2>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "q<3>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;
